.register-course {
	.form {
		label {
			flex-wrap: wrap;
		}
		.error-text {
			width: 100%;
			margin-left: 180px;
			color: red;
			font-style: italic;
			font-size: 12px;
		}
	}
}
.tab-content {
	label {
		flex-wrap: wrap;
	}
	.error-text {
		width: 100%;
		margin-left: 160px;
		color: red;
		font-style: italic;
		font-size: 12px;
	}
}
.popup-login {
	input {
		margin-bottom: 0 !important;
	}
	input[type='password'] {
		margin-top: 15px;
	}
	.error-text {
		width: 100%;
		color: red;
		font-style: italic;
		font-size: 12px;
	}
}

.loading{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #00afab;
	transition-duration: 0.3s;
	transition: 0.3s;
	transform: scale(0);
}